/* src/pages/HomePage.module.css */
.hero {
  text-align: center;
  margin-bottom: 4rem;
}

.heroImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.services {
  text-align: center;
}

.servicesGrid {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
}

.serviceItem {
  background-color: #333333;
  padding: 1.5rem;
  border-radius: 8px;
  flex-basis: 300px;
}